# Data Refinement

This notebook shows a join of two Datasets in the Jupyter Notebook Envrioment with the Pandas Libary with the Python programming language.

In [1]:
#1. Imports
#2. Data
#3. Perform join of the Sets 
#4. Export the new file as a CSV

## Imports

In [2]:
import pandas as pd

## Data

In [3]:
# read Time data into a DataFrame
Time = pd.read_csv('TimeHD.csv')
Time.head(10)

   Time
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10

In [4]:
# read Revenue data into a DataFrame
Revenue = pd.read_csv('RevenueHD.csv')
Revenue.head(10)

   Revenue
0      0.0
1      1.0
2      1.0
3      2.0
4      2.0
5      5.0
6      7.0
7      8.0
8      9.0
9     10.0

## Perform join of the Sets

In [5]:
Revenue_Time_Data = pd.merge(Time, Revenue, left_index=True, right_index=True)
Revenue_Time_Data.head(10)

   Time  Revenue
0     1      0.0
1     2      1.0
2     3      1.0
3     4      2.0
4     5      2.0
5     6      5.0
6     7      7.0
7     8      8.0
8     9      9.0
9    10     10.0

See for more details:
https://datacarpentry.org/python-ecology-lesson/05-merging-data/

In [8]:
Revenue_Time_Data.to_csv("output.csv", index=False)