# Reading Data from DIH

### Reading Streaming Data

In [1]:
from dih.storage import read_storage_account

data = read_storage_account(
    file_id ='9477f165-6894-4644-b910-ec9a7f70cc13',
    project_key = 'f6f3bf8c-30ca-4bcd-8e4f-dd2842094167',
    data_format = 'iter',
    file_read_endpoint = 'https://api.dih.telekom.net/api/v1/projects/file',
)

total_size = 0
for chunk in data:
    total_size += len(chunk)

print('Total size ' + str(total_size))

Total size 205142

### Reading Text Data

In [1]:
from dih.storage import read_storage_account

data = read_storage_account(
    file_id ='9477f165-6894-4644-b910-ec9a7f70cc13',
    project_key = 'f6f3bf8c-30ca-4bcd-8e4f-dd2842094167',
    data_format = 'text',
    file_read_endpoint = 'https://api.dih.telekom.net/api/v1/projects/file',
)

total_size = 0
for chunk in data:
    total_size += len(chunk)

print('Total size ' + str(total_size))

Total size 10909

In [2]:
import pandas as pd
import sys
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO

TESTDATA = StringIO(data)
df = pd.read_csv(TESTDATA, sep=",")
df.head()

   PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0            1         0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833   C85        C
2            3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
4            5         0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S

In [4]:
df.shape

(156, 12)

In [5]:
df.count()

PassengerId    156
Survived       156
Pclass         156
Name           156
Sex            156
Age            126
SibSp          156
Parch          156
Ticket         156
Fare           156
Cabin           31
Embarked       155
dtype: int64

# Pandas Profiling

In [6]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [7]:
profile = ProfileReport(df, title='Pandas Profiling Report', html={'style':{'full_width':True}})

In [8]:
profile.to_widgets()

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=24.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render widgets', max=1.0, style=ProgressStyle(description…

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…